<!-- Main Footer -->
<footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          <a href="https://discord.gg/9dtdAXn">Discord</a>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2019 <a href="#">EzekielJ WebDesign</a>.</strong> All rights reserved.
      </footer>